* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "style/app";
@import "style/header";
@import "style/button";
@import "style/addTask";
@import "style/taskList";
@import "style/task";